* {
  box-sizing: border-box;
}
body {
  background-color: #1dac97;
}
header {
  background-color: #3a5062;
  height: 100px;
  margin: 20px;
}

div {
  height: 400px;
}

div.caja {
  background-color: #3a5062;
  margin: 0 20px;
}

.contenedor {
  overflow: hidden;
  margin: 20px 10px;
}

.contenido {
  background-color: #3a5062;
  width: 50%;
  float: left;
  border-right: 10px solid #1dac97;
  border-left: 10px solid #1dac97;
}
